#----------ignorar estas carpetas----------

#carpeta del dataset retail (15GB)
/dataset

#dataset con productos extraidos del dataset retail
/dataset_extraido

#carpetas de imagenes de testeo
/test_images
#productos_vitrina


#ambiente virtual
/venv

#modelos de entrenamiento
*.pt

/__pycache__

/flagged

