#----------ignorar estas carpetas----------

#carpeta del dataset (15GB)
/dataset

#carpeta del dataset de lo que se va a utilizar
/output

#ambiente virtual
/venv

#ejecuciones de YOLO
/runs

#modelos de entrenamiento
*.pt

